.first {
  min-height: 100vh;
  color: white;
  padding-top: 30vh;
  padding-left: 15vw;
  position: relative;
}
.bg {
  background: #555 url(../img/mountain.jpeg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  filter: saturate(60%) brightness(80%);
}
.title {
  $shadow: 0 2px 4px rgba(0, 0, 0, 1);
  display: inline-block;
  position: relative;
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 1vw;
  text-shadow: $shadow;
  &::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: -4vw;
    bottom: -1.5vw;
    height: 0.4vw;
    background-color: #fff;
    box-shadow: $shadow;
  }
}
