@media (max-width: 992px) {
  .block {
    &__right {
      grid-template: repeat(auto-fit, minmax(200px, auto)) / repeat(2, 1fr);
    }
  }
}
@media (max-width: 768px) {
  .block {
    &__right {
      grid-template: repeat(auto-fit, minmax(200px, auto)) / repeat(1, 1fr);
    }
  }
}
@media (max-width: 576px) {
  .block__left {
    padding: 10px 10px;
  }
  .block__right {
    padding: 10px;
  }
}
@media (max-width: 360px) {
}
